{% extends 'base.html' %} 
{% block title %}Home{% endblock %} 

{% block content %} 
<nav class="navMenu">
  {% if user.is_authenticated %}
  <a href="{% url 'location:location' %}">Location</a>
  <a href="{% url 'medicines:medicines' %}">Medicines</a>
  <a href="/logout">Log Out</a>
  <div class="dot"></div>
  <br>
  <div class = "testtext"><h1>Welcome {{ user.username }}</h1></div>
  {% else %} 
  <a href="/login">Log In</a>
  <div class="dot2"></div>

  {% endif %}
</nav>

{% endblock %}






